## Final Exam WQD 7005 Data Mining 
## Question 1 

### Name: Nurullainy binti Mat Rashid                   
### ID :  17036591

### IMDB Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# read data from csv file

df = pd.read_csv('movies_imdb_raw.csv')
print('dimension of the raw file: ', df.shape)

df.head()

dimension of the raw file:  (4200, 9)

,movie_name,year_released,runtime_in_min,genre,revenues,imdb_rating,number_of_votes,Star,link
0,Gladiator,2000,155 min,"Action, Adventure, Drama","187,705,427>$187.71M",8.5,1295546,Director:Ridley Scott| Stars:Russell Crowe...,https://www.imdb.com//title/tt0172495/?ref_=ad...
1,Memento,2000,113 min,"Mystery, Thriller","25,544,867>$25.54M",8.4,1088700,Director:Christopher Nolan| Stars:Guy Pear...,https://www.imdb.com//title/tt0209144/?ref_=ad...
2,Snatch,2000,104 min,"Comedy, Crime","30,328,156>$30.33M",8.3,760646,"Director:Guy Ritchie| Stars:Jason Statham,...",https://www.imdb.com//title/tt0208092/?ref_=ad...
3,Requiem for a Dream,2000,102 min,Drama,"3,635,482>$3.64M",8.3,742193,Director:Darren Aronofsky| Stars:Ellen Bur...,https://www.imdb.com//title/tt0180093/?ref_=ad...
4,X-Men,2000,104 min,"Action, Adventure, Sci-Fi","157,299,717>$157.30M",7.4,558716,Director:Bryan Singer| Stars:Patrick Stewa...,https://www.imdb.com//title/tt0120903/?ref_=ad...

In [3]:
# Finding null values if any

df.isnull().sum()

movie_name           0
year_released        0
runtime_in_min       0
genre                0
revenues           624
imdb_rating          0
number_of_votes      0
Star                 0
link                 0
dtype: int64

In [4]:
# Remove null rows and duplicate rows in movies_name

df.dropna(how='any', inplace=True)

In [5]:
print('dimension of the current dataset: ', df.shape)

dimension of the current dataset:  (3576, 9)

In [6]:
# Change year_released column to date format

df['year_released'] = df['year_released'].astype(str)
df['year_released'].unique()
df['year_released'] = pd.to_datetime(df.year_released)
df['year_released'] = df['year_released'].dt.strftime('%Y')

In [7]:
# Remove trailing whitespace and characters in runtime_in_min column

df['runtime_in_min'] = df['runtime_in_min'].map(lambda x: x.rstrip('').rstrip(' min'))
df['runtime_in_min'] = df['runtime_in_min'].astype(int)

In [8]:
# Split revenues column and remove duplicates data

df['revenues'] = df['revenues'].str.split('>', 1, expand=True)
df['revenues'] = df['revenues'].apply(lambda x: x.replace(',',''))
df['revenues'] = df['revenues'].astype(str).astype(float)

In [9]:
# Split star column to director and actor columns

x = df['Star']
x = pd.DataFrame(df.Star.str.split('|',1).tolist(), columns = ['director','actor'])

In [10]:
# Add new columns (Director and Actor)

df['director'] = x['director']
df['actor'] = x['actor']
df['director'] =  df.director.astype(str)
df['actor'] = df.actor.astype(str)

# Remove leading characters

df['director'] = df.director.apply(lambda x: x.replace('Directors:', ''))
df['director'] = df.director.apply(lambda x: x.replace('Director:', ''))
df['actor'] = df.actor.apply(lambda x: x.replace('Stars:', ''))
df['actor'] = df['actor'].str.strip()

In [11]:
# Rename column's name

df = df.rename(columns={'number_of_votes':'user_votes'})

In [12]:
# Delete unsed Star columnS

df.drop(['Star', 'link'], axis=1, inplace=True)

In [13]:
# Remove duplicate movies

df = df.drop_duplicates( "movie_name" , keep='first')

In [14]:
df.head()

,movie_name,year_released,runtime_in_min,genre,revenues,imdb_rating,user_votes,director,actor
0,Gladiator,2000,155,"Action, Adventure, Drama",187705427.0,8.5,1295546,Ridley Scott,"Russell Crowe, Joaquin Phoenix, Connie Nielsen..."
1,Memento,2000,113,"Mystery, Thriller",25544867.0,8.4,1088700,Christopher Nolan,"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano, ..."
2,Snatch,2000,104,"Comedy, Crime",30328156.0,8.3,760646,Guy Ritchie,"Jason Statham, Brad Pitt, Benicio Del Toro, De..."
3,Requiem for a Dream,2000,102,Drama,3635482.0,8.3,742193,Darren Aronofsky,"Ellen Burstyn, Jared Leto, Jennifer Connelly, ..."
4,X-Men,2000,104,"Action, Adventure, Sci-Fi",157299717.0,7.4,558716,Bryan Singer,"Patrick Stewart, Hugh Jackman, Ian McKellen, F..."

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 894 entries, 0 to 4015
Data columns (total 9 columns):
movie_name        894 non-null object
year_released     894 non-null object
runtime_in_min    894 non-null int64
genre             894 non-null object
revenues          894 non-null float64
imdb_rating       894 non-null float64
user_votes        894 non-null int64
director          894 non-null object
actor             894 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 69.8+ KB

In [16]:
df.isnull().sum()

movie_name        0
year_released     0
runtime_in_min    0
genre             0
revenues          0
imdb_rating       0
user_votes        0
director          0
actor             0
dtype: int64

In [17]:
# Export data as csv file

df.to_csv('movies_imdb_preprocessed2.csv', index=False)